* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Belanosima', sans-serif;
  background-image: linear-gradient(to bottom right, #00ca6d, #0082b9);
}

h1,
h2,
h3 {
  text-align: center;
}

h3,
h2 {
  font-size: 2rem;
  color: white;
}

h1 {
  font-size: 5rem;
  margin-bottom: 4rem;
}

h2 {
  font-size: 4rem;
}

#canvas-container {
  width: 59.5rem;
  height: auto;
  margin: 0 auto;
  background-color: green;
  border-radius: 1rem;
  padding: 1rem;
}

#game-over {
  width: 31rem;
  height: 28rem;
  margin: auto;
  background-color: #0082b9;
  border-radius: 3rem;
}

#game-over h2 {
  padding-top: 4rem;
}

#game-over button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  border: none;
  padding: 3.5rem;
  border-radius: 50%;
  width: 5.6rem;
  height: 5.6rem;
  margin: auto;
  margin-top: 3rem;
}

#game-over button i {
  color: #3c6eb1;
}
